# Flask
FLASK_ENV=development
FLASK_DEBUG=True
SECRET_KEY="pF7x_3lK0nA9zXyQdT2vWb6sJrR8mH4k"

# Database
DB_HOST=localhost
DB_PORT=3306
DB_NAME=arenax
DB_USER=root
DB_PASSWORD="Aditya#2005"
DATABASE_URL=mysql+pymysql://root:Aditya%232005@localhost:3306/arenax

# Clerk
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_ZWFzeS1oeWVuYS0zMi5jbGVyay5hY2NvdW50cy5kZXYk
CLERK_SECRET_KEY=sk_test_KKPStfrAWeGxQX31P3Xcd0NrwXTdBFD2q6IqnpUaoJ

# JWT
JWT_SECRET_KEY="hEMzNT79rjRUI1_0JlNnrE79IZatBbgxtvzAU23LTgk"

# Email (SMTP)
MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587
MAIL_USE_TLS=True
MAIL_USERNAME=prathameshpujari24@gmail.com
MAIL_PASSWORD="your_app_password_here"
MAIL_DEFAULT_SENDER=ArenaX <prathameshpujari24@gmail.com>

# App
FRONTEND_URL=http://localhost:5173
INVITATION_EXPIRY_HOURS=48
TEAM_VERIFICATION_HOURS=72